/* Color pallates
Text color: #00246B
Background color: #CADCFC
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CADCFC;
    color: #00246B;
    font-family: poppins,Verdana, sans-serif;
}

table{
    border-collapse: collapse;
    width: 800px;   
    margin: auto;
}

th, tfoot{
    background-color: #00246B;
    color: #CADCFC;
    padding-left: 20px !important; /* This forces this style to be applied, if !important wasnt applied the left padding was gonna be as shown below which is 15px*/
}

td,th {
     border: 2px solid #00246B;
    padding: 10px 15px;
    text-align: left;
    line-height: 1.6rem;
   
}

td ul li {
    list-style-type: none;
    font-size: 14px;
}

.example {
    font-weight: bold;
}

/* just to add some space at the end of the table */
tfoot::after {
    content: '';
    display: block;
    height: 50px;
    background-color: #CADCFC;
  
}